<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jules | About Me Page</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/shapes.css">
  <link rel="stylesheet" href="/styles/table.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

</head>
<body>

  <div class="topnav">
    <a class="active" href="../home">Home</a>
    <a href="#language">Language</a>
    <a href="#info">Info</a>
  </div>

  <center style="margin-top: 20px;">
    <img src="/images/me2.png" alt="cercle Image" class="circle-image">
    <h1>About Me</h1>
  
    <table>
      <tr>
        <th>First name:</th>
        <td>Jules</td>
      </tr>
      <tr>
        <th>Second name:</th>
        <td>Leroquais</td>
      </tr>
      <tr>
        <th>Birth date:</th>
        <td>05/08/2001</td>
      </tr>
      <tr>
        <th>Location:</th>
        <td>Paris, France</td>
      </tr>
      <tr>
        <th>Linkedin:</th>
        <td><a href="https://www.linkedin.com/in/jules-leroquais/", style="color: lightblue">Click here</a></td>
      </tr>
    </table>
  </center>

  <div class="text-container">
    <div class="text-box">
      <h2>Hard skills</h2>
      <h3>Programmation languages</h3>
      <p>
        C/C++/C#<br/>
        Python<br/>
        JS<br/>
        OCaml<br/>
        Shell/bash<br/>
        SQL<br/>
        HTML/Jade<br/>
      </p>
      <h3>Languages</h3>
      <p>
        French: native<br/>
        English: B2 (TOEIC 790)<br/>
        Spanish: B1<br/>
      </p>
      <h3>Known tools</h3>
      <p>
        Ghidra<br/>
        Whireshark<br/>
        Virtualbox<br/>
        Docker<br/>
        Git<br/>
        Vim<br/>
        Nano<br/>
        Android Studio<br/>
        Firebase<br/>
        Suite Microsoft Office<br/>
        PowerBI<br/>
      </p>
      <h3>Known environments</h3>
      <p>
        Windows<br/>
        Ubuntu<br/>
        Kali Linux<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>

    <div class="text-box">
      <h2>Soft skills</h2>
      <h3>Personality</h3>
      <p>
        Devoted in everething I do<br/>
        Curious<br/>
        Dynamic<br/>
        Fast learner<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
  </div>

  <div class="text-container">
    <div class="text-box", style="margin-right: 50%;">
      <h2>Hobies</h2>
      <h3>Sport</h3>
      <p>
        Climb<br/>
        Ski<br/>
      </p>
      <h3>Video-Games</h3>
      <p>
        Tom Clancy Rainbow Six Siege<br/>
        Heart of iron IV<br/>
        Age of Empire II<br/>
        Total war warhammer 1/2/3<br/>
      </p>
      <h3>Trip</h3>
      <p>
        Colombia<br/>
        Taiwan<br/>
        Canada<br/>
        Lettonia, Lituani, Poland, Romania<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
  </div>

  <!-- Getting the text box scripts -->
  <script src="/js/textbox.js"></script>
</body>
</html>
