<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jules | Experiences Page</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/shapes.css">
  <link rel="stylesheet" href="/styles/table.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>

<body>

  <div class="topnav">
    <a class="active" href="../home">Home</a>
    <a href="#language">Language</a>
    <a href="#info">Info</a>
  </div>

    <div class="text-container">
      <div class="text-box">
        <img src="images/safran.png", style="width: 50px; height: 50px; float: right;"></img>
        <h2>Safran Landing Systems (2022 - 2025)</h2>
        <h3>Project manageur and data analyst</h3>
        <p>
          This was my first job, which means that it mainly allows me to discover how it works in a big company.<br/>
          Since I worked as a project leader, I had to develop my skills to understand the needs of the client, to create gantt, to present the results, ...<br/>
          In general, the purpose was to create a web application to centralize or make easier a task. Most of the time I made a theme based on NodeJS and Jade which is an alternative to HTML. Plus, I used SQLite and SQL to create and manage my databases.<br/>
          All of this also implies that I had to do some support which means make a formation, answer to their questions and fix the bugs.<br/>
          <br/>
          Another part of my job was to collect data and to clean it and put it in the correct format. Most of the time I was doing this manually using Excel and after this, when it was possible, I created a Python script to do it automatically.<br/> 
        </p>
        <button class="more-btn">Plus</button>
      </div>
  
  <script src="/js/textbox.js"></script>
</body>
</html>