<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jules | Formations Page</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/shapes.css">
  <link rel="stylesheet" href="/styles/table.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>
<body>
    <div class="topnav">
        <a class="active" href="../home">Home</a>
        <a href="#language">Language</a>
        <a href="#info">Info</a>
    </div>

    <div class="text-container">
      <div class="text-box">
        <img src="images/epita.png", style="width: 50px; height: 40px; float: right;"></img>
        <h2>Epita - Preparatory Classes</h2>
        <h3>2019 - 2022</h3>
        <p>
          The purpose of this formation was to allow the student being able to get the necessary skills to do an Epita formation.<br/>
          Through it I learned how to code in C, C#, OCaml, python and in assembly x86. I also made during it my first projects such as a video game and a OCR.<br/>
          I also learned about algorithm concept and data structure such as queue, stack, tree, hash funtion, etc...<br/>
        </p>
        <button class="more-btn">Plus</button>
      </div>

      <div class="text-box">
        <img src="images/University_of_Los_Andes_logo.png", style="width: 40px; height: 50px; float: right;"></img>
        <h2>La Universidad de los Andes</h2>
        <h3>Jan - June 2022</h3>
        <p>
          At the end of the preparatory classes, Epita allow us to do a semester abroad. I did it in Colombia in this university.<br/>
          There I learned: <br/>
            * about function with multiple vairables<br/> 
            * how to make prof in math<br/>
            * about machine language theory
            * how to do a mobile application<br/>
        </p>
        <button class="more-btn">Plus</button>
      </div>
    </div>

    <div class="text-container">
      <div class="text-box">
        <img src="images/epita.png", style="width: 50px; height: 40px; float: right;"></img>
        <h2>Epita - Engineering in cybersecurity and informatic systems</h2>
        <h3>2022 - 2025</h3>
        <p>
          This formation focused on teaching concept basic concept of cybersecurity with some exercice to practice and to use some tools such as Ghidra, pwn, Whireshark, etc...<br/>
          The second point that I learned about is informatic systems at a low level such as a kernel, or how a debugger worked.
          Of course we still improved our algorithm knowledge and our math skills.<br/>
        </p>
        <button class="more-btn">Plus</button>
      </div>

      <div class="text-box">
        <img src="images/tsi.png", style="width: 40px; height: 40px; float: right;"></img>
        <h2>TSI - IoT summer school</h2>
        <h3>July 2024</h3>
        <p>
          During this summer school in Latvia, I discorver IoT.<br/>
          I learned about how to create simple Iot device, how to create with it a simple network and how to share data in it and launch request to ask my device to perform some task.<br/>
        </p>
        <button class="more-btn">Plus</button>
      </div>
    </div>

    <div class="text-container">
      
    </div>
    
    <!-- Getting the text box scripts -->
  <script src="/js/textbox.js"></script>
  </body>
</html>