<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jules | Home Page</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/shapes.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
</head>
<body>
    <div class="hexagon-container">
      <div class="hexagon-image">
        <img src="/images/me1.jpg" alt="Hexagon Image">
      </div>
    </div>

    <center style="margin-top: -330px;">
      <div>
        <label>
      @@@  @@@  @@@  @@@       @@@@@@@@   @@@@@@      @@@       @@@@@@@@  @@@@@@@    @@@@@@    @@@@@@    @@@  @@@   @@@@@@   @@@   @@@@@@   
      @@@  @@@  @@@  @@@       @@@@@@@@  @@@@@@@      @@@       @@@@@@@@  @@@@@@@@  @@@@@@@@  @@@@@@@@   @@@  @@@  @@@@@@@@  @@@  @@@@@@@   
      @@!  @@!  @@@  @@!       @@!       !@@          @@!       @@!       @@!  @@@  @@!  @@@  @@!  @@@   @@!  @@@  @@!  @@@  @@!  !@@       
      !@!  !@!  @!@  !@!       !@!       !@!          !@!       !@!       !@!  @!@  !@!  @!@  !@!  @!@   !@!  @!@  !@!  @!@  !@!  !@!       
      !!@  @!@  !@!  @!!       @!!!:!    !!@@!!       @!!       @!!!:!    @!@!!@!   @!@  !@!  @!@  !@!   @!@  !@!  @!@!@!@!  !!@  !!@@!!    
      !!!  !@!  !!!  !!!       !!!!!:     !!@!!!      !!!       !!!!!:    !!@!@!    !@!  !!!  !@!  !!!   !@!  !!!  !!!@!!!!  !!!   !!@!!!   
      !!:  !!:  !!!  !!:       !!:            !:!     !!:       !!:       !!: :!!   !!:  !!!  !!:!!:!:   !!:  !!!  !!:  !!!  !!:       !:!  
 !!:  :!:  :!:  !:!   :!:      :!:           !:!       :!:      :!:       :!:  !:!  :!:  !:!  :!: :!:    :!:  !:!  :!:  !:!  :!:      !:!   
 ::: : ::  ::::: ::   :: ::::   :: ::::  :::: ::       :: ::::   :: ::::  ::   :::  ::::: ::  ::::: :!   ::::: ::  ::   :::   ::  :::: ::   
  : :::     : :  :   : :: : :  : :: ::   :: : :       : :: : :  : :: ::    :   : :   : :  :    : :  :::   : :  :    :   : :  :    :: : :
        </label>
      </div>
      <div>
        <label>
 @@@@@@    @@@@@@   @@@ @@@   @@@@@@      @@@  @@@  @@@@@@@@  @@@       @@@        @@@@@@      @@@  
 @@@@@@@   @@@@@@@@  @@@ @@@  @@@@@@@      @@@  @@@  @@@@@@@@  @@@       @@@       @@@@@@@@     @@@  
 !@@       @@!  @@@  @@! !@@  !@@          @@!  @@@  @@!       @@!       @@!       @@!  @@@     @@!  
 !@!       !@!  @!@  !@! @!!  !@!          !@!  @!@  !@!       !@!       !@!       !@!  @!@     !@   
 !!@@!!    @!@!@!@!   !@!@!   !!@@!!       @!@!@!@!  @!!!:!    @!!       @!!       @!@  !@!     @!@  
  !!@!!!   !!!@!!!!    @!!!    !!@!!!      !!!@!!!!  !!!!!:    !!!       !!!       !@!  !!!     !!!  
      !:!  !!:  !!!    !!:         !:!     !!:  !!!  !!:       !!:       !!:       !!:  !!!          
     !:!   :!:  !:!    :!:        !:!      :!:  !:!  :!:        :!:       :!:      :!:  !:!     :!:  
 :::: ::   ::   :::     ::    :::: ::      ::   :::   :: ::::   :: ::::   :: ::::  ::::: ::      ::  
 :: : :     :   : :     :     :: : :        :   : :  : :: ::   : :: : :  : :: : :   : :  :      :::  
                                                                                                     
        </label>
      </div>
    </center>
  <div>
    <div class="flex-container">
      <!-- First Flex Item -->
      <div class="flex-item">
        <a href="./aboutMe">
          <img src="/images/meLogo.png" class="item-image">
          <h3>Basic Informations</h3>
          <p>Here you will be able to see all the basic informations concerning me such as my birth date, or my email.</p>
        </a>
      </div>
  
      <!-- Second Flex Item -->
      <div class="flex-item">
        <a href="./formations">
          <img src="/images/formationLogo.png" class="item-image">
          <h3>Formations</h3>
          <p>In this section you will discover every formation I went through.</p>
        </a>
      </div>
  
      <!-- Third Flex Item -->
      <div class="flex-item">
        <a href="./experiences">
          <img src="/images/workLogo.png" class="item-image">
          <h3>Experiences and formations</h3>
          <p>This section contain all the professional experiences I had.</p>
        </a> 
      </div>
  </div>
  <div>
    <div class="flex-container">
      <!-- Fourth Flex Item -->
      <div class="flex-item" style="margin-right: 67%;">
        <a href="./projects">
          <img src="/images/projectLogo.png" class="item-image">
          <h3>Projects</h3>
          <p>In this section you will discover every project I worked on.</p>
        </a>
      </div>
    </div> 
  </div>
</body>
</html>

