<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jules | Projects Page</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/shapes.css">
  <link rel="stylesheet" href="/styles/table.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>
<body>

  <div class="topnav">
      <a class="active" href="../home">Home</a>
      <a href="#language">Language</a>
      <a href="#info">Info</a>
  </div>

  <div class="text-container">
    <div class="text-box">
      <h2>SHA3</h2>
      <h3>October 2024 - Dec 2024</h3>
      <p>
        As part of a second year engineering project at EPITA, I worked on the design and implementation of sha3 an hash algorithm.<br/>
        It was made in C and can work with three modes, 256, 384 or 512 bits.<br/>
        This project was carried out by a team of 2 in the framework of an Epita project in the 3rd year of engineering school.<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
    
    <div class="text-box">
      <h2>Python for security</h2>
      <h3>November 2024 - Dec 2024</h3>
      <p>
        The objective of this project is to simulate a target system subject to attacks and detect them using a NIDS (Network Intrusion Detection System). This system generates alerts in the form of encrypted emails in case of an attack.<br/>
        <br/>
        Development took place in three main stages:<br/>
        <br/>
        1. Design of honeypots to simulate the behavior of a client system.<br/>
        2. Development of attack scripts, including DDoS scenarios, brute force and port scanning, to test the robustness of the system.<br/>
        3. Creation and configuration of NIDS to ensure intrusion detection.<br/>
        <br/>
        The project was carried out in Python and Docker, in collaboration with a group of three students as part of the 3rd year of engineering school at EPITA.<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
  </div>

  <div class="text-container">
    <div class="text-box">
      <h2>Research project: federated learning over network anomalies data-flow </h2>
      <h3>February 2024 - June 2024</h3>
      <p>
        As part of this project, I had the opportunity to collaborate with the Epita Research Laboratory (LRE) to develop the first version of an automated workflow for federated learning of artificial intelligence from data streams.<br>
        The objective was to demonstrate the feasibility of this learning method, particularly relevant in contexts where data storage and confidentiality issues are crucial.<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
    
    <div class="text-box">
      <h2>Project K</h2>
      <h3>October 2023 - December 2023</h3>
      <p>
        As part of a second year engineering project at EPITA, I worked on the design and implementation of a 32-bit C operating system kernel.<br/>
        This project has deepened my understanding of low-level programming, memory management and system architecture. I have practical experience in the development of boot loaders, interruption management and hardware communication, while applying concepts such as task planning and process management.<br/>
        This project has significantly improved my problem solving capabilities and strengthened my expertise in systems programming and software engineering.<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
  </div>

  <div class="text-container">
    <div class="text-box">
      <h2>LParser</h2>
      <h3>July 2022 - November 2023</h3>
      <p>
        Creation of a C++ class generating an automaton from a regexp allowing to generate speech and associated graphs<br/>
        <br/>
        Being a personal project, it could never be finished entirely due to the studies I had at the same time.<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
    
    <div class="text-box">
      <h2>Tiger</h2>
      <h3>March 2023 - June 2023</h3>
      <p>
        Creation of a c++ compiler for the Tiger language as part of the first year of study at the Epita engineering school.<br/>
        Work done in groups of 4.<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
  </div>

  <div class="text-container">
    <div class="text-box">
      <h2>My debugger</h2>
      <h3>December 2022 - February 2023</h3>
      <p>
        Creation of a C debugger allowing to run a program, to set breakpoints and to see about ten assembly instructions.<br/>
        This project was carried out in the first year of engineering school in Epita.<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
    
    <div class="text-box">
      <h2>Sudokyu solver with OCR</h2>
      <h3>September 2021 - November 2021</h3>
      <p>
        Creation of an application to solve a sudoku and from a photo taken by the user.<br/>
        Group project carried out at 4 in the 2nd year of preparatory class at Epita<br/>
      </p>
      <button class="more-btn">Plus</button>
    </div>
  </div>


  <script src="/js/textbox.js"></script>
</body>
</html>