table {
    border-collapse: collapse;
    width: 350px
  }

  /* Ajouter une bordure en bas de chaque ligne sauf la dernière */
  tr:not(:last-child) {
    border-bottom: 2px solid gray;
  }

  th, td{
    text-align: left;
    font-size: 25px;
    color: lightgrey;
  }
